@{
	ViewBag.Title = "Plane Tickets";
	string typeName = "PlaneTicket";
}

<div class="container container-spacing-top">
	<div class="row justify-content-between">
		<div class="col-md-12">
			<div class="d-flex justify-content-between align-items-center" style="width: 100%;">
				@if (ViewBag.ApiUserRole != "User")
				{
					@await Html.PartialAsync("Index/_CreateButtonIndex", typeName)
				}
				<div class="d-flex">
					<div class="input-group me-3">
						<label for="minPrice" class="input-group-text">Min Price:</label>
						<input type="number" class="form-control" id="minPrice" name="minPrice">
					</div>
					<div class="input-group me-3">
						<label for="maxPrice" class="input-group-text">Max Price:</label>
						<input type="number" class="form-control" id="maxPrice" name="maxPrice">
					</div>
					<button id="searchButton" class="btn btn-primary">Search</button>
				</div>
			</div>
		</div>
	</div>
</div>
<br />
<div id="alert">
	@if (TempData["AlertMessage"] != null)
	{
		@await Html.PartialAsync("_AlertPartial", TempData)
	}
</div>

@await Html.PartialAsync("Index/_FormContainer")

@section Scripts {
	<script>
		$(document).ready(function () {
			var typeName = '@typeName';
			var fetchUrl = '@Url.Action("GetPlaneTickets", typeName, new { area = "", name = "" })';
			var tableBody = $('#tableBody');
			fetchData(fetchUrl, typeName, 1);
			$(document).on('click', '.page-link', function (e) {
				e.preventDefault();
				var page = $(this).data('page');
				if (page) {
					fetchData(fetchUrl, typeName, page);
				}
			});
		});
	</script>
	<script>
		$(document).ready(function () {
			var typeName = '@typeName';
			var searchUrl = '@Url.Action("GetPlaneTicketsForPrice", typeName, new { area = "", name = "" })';
			searchData(searchUrl, 'searchByPrice', typeName, 1);
		});
	</script>
	<script src="~/js/GetHelper.js"></script>
	<script src="~/js/OpenHelper.js"></script>
	<script src="~/js/SearchHelper.js"></script>
	<script src="~/js/AlertHelper.js"></script>
}