@{
	ViewBag.Title = "Flights";
	string typeName = "Flight";
}

<div class="container mt-5">
	<div class="row justify-content-between">
		<div class="col-md-6">
			@if (ViewBag.ApiUserRole != "User")
			{
				@await Html.PartialAsync("Index/_CreateButtonIndex", typeName)
			}
			<div class="input-group justify-content-start" style="width: 100%;">
				<label for="startDate" class="input-group-text">Start Date:</label>
				<input type="text" class="form-control" id="startDate" name="startDate">

				<label for="endDate" class="input-group-text">End Date:</label>
				<input type="text" class="form-control" id="endDate" name="endDate">

				<button id="searchButton" class="btn btn-primary">Search</button>
			</div>
		</div>
	</div>
</div>
<br />
<div id="alert">
	@if (TempData["AlertMessage"] != null)
	{
		@await Html.PartialAsync("_AlertPartial", TempData)
	}
</div>

@await Html.PartialAsync("Index/_FormContainer")

@section Scripts {
	<script>
		$(document).ready(function () {
			var typeName = '@typeName';
			var fetchUrl = '@Url.Action("GetFlights", typeName, new { area = "", name = "" })';
			var tableBody = $('#tableBody');
			fetchData(fetchUrl, typeName, 1);
			$(document).on('click', '.page-link', function (e) {
				e.preventDefault();
				var page = $(this).data('page');
				if (page) {
					fetchData(fetchUrl, typeName, page);
				}
			});
		});
	</script>
	<script>
		$(document).ready(function () {
			var typeName = '@typeName';
			var searchUrl = '@Url.Action("GetFlightsBetweenDates", typeName, new { area = "", name = "" })';
			var tableBody = $('#tableBody');
			searchByDate(searchUrl, tableBody, typeName);
		});
	</script>
	<script src="~/js/GetHelper.js"></script>
	<script src="~/js/OpenHelper.js"></script>
	<script src="~/js/SearchHelper.js"></script>
	<script src="~/js/AlertHelper.js"></script>
}